div.header
    div.header__logo-container 
        h1 first group
    ul.header__dots--left
        li.header__dots__items
        li.header__dots__items
        li.header__dots__items
        li.header__dots__items
        li.header__dots__items
        li.header__dots__items
    div.header__contacts
        ul.header__contacts__list
            li.header__contacts__item 8(988)2-400-234
            li.header__contacts__item 8(928)66-53-107
            li.header__contacts__item 8(928)332-45-88
    ul.header__dots--right
        li.header__dots__items
        li.header__dots__items
        li.header__dots__items
        li.header__dots__items
        li.header__dots__items
        li.header__dots__items
    nav.header__navigation
        ul.header__navigation__list            
            li.header__navigation__item
                a.header__navigation__link контакты
  
  


