div.inner-pages-header
    div.logo-container
        
        div.logo-frame
            h1 FG 
            div.lofo-frame-add.logo-frame-add--footer
    ul.nav-list__inner.nav-list__inner--footer
        //- li.nav-item__inner
        //-     a.nav-link__inner(href = "#") проектирование
        li.nav-item__inner            
            a.nav-link__inner(href = "wood-craft.html") строительство
        li.nav-item__inner
            a.nav-link__inner(href = "#") столярная мастерская
        li.nav-item__inner
            a.nav-link__inner(href = "#") дизайн интерьеров        
        li.nav-item__inner
            a.nav-link__inner(href = "#") 3D резьба (дерево, пластик)
        li.nav-item__inner
            a.nav-link__inner(href = "#") макеты для застройщиков
        li.nav-item__inner
            a.nav-link__inner(href = "#") продажа дизайнерских изделий
        li.nav-item__inner
            a.nav-link__inner(href = "contacts.html") контакты
        li.nav-item__inner
            a.nav-link__inner(href = "index.html") главная        