div.link-display 8-928-332-45-88
    h3.link-display__title Cадовая мебель
    ul.link-display__list
        li.link-display__item беседки
        li.link-display__item перголы 
        li.link-display__item барбекью
        li.link-display__item арки
        li.link-display__item навесы
        li.link-display__item решетки
        li.link-display__item скамейки
    a.link-display__see-details(href = "#") подробнее...