aside.aside
    ul.aside__list
        li.aside__item(class = 'active')
            a.aside__link(class = "aside__link--single" href="#") Проектирование
        //- li.aside__item(class = "aside__item--double")
        //-     a.aside__link(class = "aside__link--double" href="#") Индивидуальное
        //-         br
        //-         | строительство
        //- li.aside__item(class = "aside__item--double")
        //-     a.aside__link( href="#") Kоттеджи и малоэтажные
        //-         br
        //-         | здания
        li.aside__item
            a.aside__link(class = "aside__link--single" href="#") Строительство
        li.aside__item
            a.aside__link(class = "aside__link--single" href="#") Столярная мастерская
        //- li.aside__item
        //-     a.aside__link(class = "aside__link--single" href="#") Плотницкие работы
        //- li.aside__item
        //-     a.aside__link(class = "aside__link--single" href="#") Мебель
        li.aside__item(class = "aside__item--double")
            a.aside__link(class = "" href="#") Дизайн
                br
                | интерьеров
        li.aside__item(class = "aside__item--double")
            a.aside__link(class = "aside__link--double" href="#") Продажа дизайнерских
                br
                | изделий
        li.aside__item
            a.aside__link(class = "aside__link--single" href="#") 3D Резьба.
                br
                | Дерево, пластик, металл
        //- li.aside__item
        //-     a.aside__link(class = "aside__link--single" href="#") Деревянные строения
        //- li.aside__item
        //-     a.aside__link(class = "aside__link--single" href="#") Садовая мебель
