div.slider-index
    div.slider-index__slide.slider-index__slide1
        //- h3 Держимся бодрячком, пацанчики!
        img(src = "assets/img/slav1.JPG" class = 'slider-img')
    div.slider-index__slide.slider-index__slide2
        //- h3 Держимся бодрячком!
        img(src = "assets/img/slav2.JPG" class = 'slider-img')
    div.slider-index__slide.slider-index__slide3
        //- h3 Штат компании укомплектован опытными специалистами!
        img(src = "assets/img/slav3.JPG" class = 'slider-img')
//- div.slider-index(class = "slider-index--2")
//-     div.slider-index__slide
//-     div.slider-index__slide
//-     div.slider-index__slide