h1.wood-craft-h1 Строительство
div.location
    i(class="fa fa-map-marker" aria-hidden="true")
    span Краснодарский край, г. Геленджик
div.this-phone 
    i(class="fa fa-phone" aria-hidden="true")
    span +7(928)332-45-88
ul.wood-craft-socials
    li.wood-craft-social__item
        a.wood-craft-social__link(href = '#')
            i(class="fa fa-facebook" aria-hidden="true")
    li.wood-craft-social__item
        a.wood-craft-social__link(href = '#')
            i(class="fa fa-vk" aria-hidden="true")
    li.wood-craft-social__item
        a.wood-craft-social__link(href = '#')
            i(class="fa fa-instagram" aria-hidden="true")