div.single-page-right
    div.wood-slider-container
        div.wood-slider.slider-for
            div.wood-slide(data-class = "#")
                img(src = "assets/img/120-5.JPG" alt = "#")            
            div.wood-slide(data-class = "#")
                img(src = "assets/img/120-1.JPG" alt = "#")
            div.wood-slide(data-class = "#")
                img(src = "assets/img/120-2.JPG" alt = "#")
            div.wood-slide(data-class = "#")
                img(src = "assets/img/120-3.JPG" alt = "#")            
            div.wood-slide(data-class = "#")
                img(src = "assets/img/120-4.JPG" alt = "#")


        div.wood-slider.slider-nav
            div.wood-slide(data-class = "#")
                img(src = "assets/img/120-5.JPG" alt = "#")
                
            div.wood-slide(data-class = "#")
                img(src = "assets/img/120-1.JPG" alt = "#")

            div.wood-slide(data-class = "#")
                img(src = "assets/img/120-2.JPG" alt = "#")

            div.wood-slide(data-class = "#")
                img(src = "assets/img/120-3.JPG" alt = "#")
                
            div.wood-slide(data-class = "#")
                img(src = "assets/img/120-4.JPG" alt = "#")
            
    
    
