.contacts-map-wrapper{
  position: relative;
  max-width:1200px;
  margin: 0 auto;
  height: 400px;
}
.contacts-map{
	max-width:1200px;
	margin: 0 auto;
	height: 400px;
	margin-top: 50px;
	position: relative;
}
.contacts-map:after{
	display: block;
  	position: absolute;
  	top: 0;
  	right: 0;
    content: '';
    width: 50%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
}
.contacts-board{
  position: absolute;
  top: 0;
  right: 1vw;
  z-index: 4;
  font-family: 'robotolight';
  font-size: 0.9rem;
  color:#555;
  padding: 15px;
}
