@media (max-width: 1200px){
	html{
		font-size: 15px;
	}
}

@media (max-width: 992px){
	html{
		font-size: 14px;
	}
}

@media (max-width: 768px){
	html{
		font-size: 12px;
	}
}

@media (max-width: 480px){
	html{
		font-size: 11px;
	}
}