.single-page-wrapper{
	display: flex;
	justify-content: center;
	// align-items: center;
	// background-color: #F4F4F4;
	// background-color: #E4E4E4;
}
.single-page-container{
	color: #333;
	// color: #8F8F8F;
	// background-color: #F4F4F4;
	font-family: 'robotolight';
	// margin: auto;
	margin-top: 1.2rem;
	max-width: 1200px;


}


.single-page-footer{	
	
	
	background: #777;
	color:#fff;
	
	.single-page-f-wrapper{
		display: flex;
		justify-content: space-around;
		align-items: stretch;
		width: 90vw;
		max-width:1200px;
		margin: 0 auto;
	}	
	.footer-left{
		width: 15rem;
		flex-grow:1;
		font-size:1rem;
		letter-spacing:1.5px;
		.dev-link{
			padding: 0.5rem 0;
			a{
				padding-left: 0;
			}
		}
		h2{
			margin: 0.7rem 0;
		}
		a{
			color: #fff;
			text-decoration: underline;
			padding-left: 0.7rem;
		}
	}
	.footer-right{
		width: 30rem;
		flex-grow:2;
		} 
	.footer-mid-contacts{
		color: #fff;
		padding-top: 0.8rem;
		font-size: 1rem;
		i, span{
			padding-top: 0.3rem;
		}
		.fa-phone:before{
			margin-left:0;
		}
	}
	.nav-item__inner{
		margin: 0 0.7rem;
		// padding: 0.4rem;
		text-transform: lowercase;
		line-height:1rem;
		a{color:#fff;}
		
	}
	.inner-pages-header{
		margin-top:0;
		padding: 0 10px;
		.logo-container{
			display:none;
		}
	}
}
.call-to-wrapper{
	color:#fff;
	font-weight: bold;
}
.call-to-action{
	background-color: rgba(255,99,71,.8);
	padding: 5px 15px;
	border-radius: 0 1.5rem;
	color: #fff;
	margin-left: 1rem;
}
.single-page-content{
	// width: 100%;
	max-width: 100%;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include tablets(){
		display: block;
	}
}
.single-page-right{
	width: 94vw;
	max-width: 800px;
	margin: 1rem auto;
	@include tablets(){
		// width: 90vw;
		// margin: 1rem auto 0;
		// margin-top: 1rem;
	}

	// box-shadow: 1px 1px 2px #333;
	// background: #fff;
	// margin-top: 20px;
}
.single-page-header-sticky{
	display: none;
	max-width: 90%;
	position: fixed;
	margin: 0 auto;
	background: #fff;
	top:1rem;
	left:1rem;
	// margin-left: -25%;
	z-index: 10;
	.wood-craft-h1,.call-to-action{
		// display: inline-block;
		margin:0;
	}
	.call-to-action{
		// display: inline-block;
	}
}
.single-page-left{
	width: 94vw;
	max-width: 800px;
	// height: 446px;
	background: #fff;
	margin: 2rem auto;
	text-align: center;
	// padding: 15px 15px 30px 15px;
	h1{
		display: inline;
		text-align: left;
		margin-left:0;
	}
	// box-shadow: 1px 1px 2px #333;
	@include tablets(){
		width: 90vw;
		margin: 0 auto;
	}

}
.wood-title{
	margin-top: 1.5rem;
	color:#777;
	font-size:1rem;
	letter-spacing: 1.2px;
	line-height:1.2;
	padding: 0 1rem;
	.h4{
		margin: 0.3rem;
	}
	p{
		color:#777;
		margin: 0.3rem;
	}
}
.wood-slider-container{
	@include clearfix();
	width:100%;
	// background: tomato;
	max-width: 800px;
	// margin-top: 30px;
	@include tablets(){
		max-width: 600px;
		// margin: 0 auto;
	}
	// border: 5px solid tomato;
}
.wood-slider{
	margin: 0 auto;
	width:100%;
	max-width: 800px;
	color: black;
	font-family: 'robotolight';
	@include tablets(){
		max-width: 600px;
		// margin: 0 auto;
	}
	// border: 1 px solid #333;
}
.wood-slider.slider-for{
	margin-bottom: 10px;
}
.wood-slider.slider-nav.wood-slide img{
	margin-left: 2px;
}
.slick-slide img{
	// margin-left: 5px;
	width: 100%;
	max-width: 100%;
	// height: 100%;
	border-left: 1px solid #fff;
}
.table-inner{
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	border: 1px solid #777;
	border-collapse: collapse;
	caption{
		padding: 10px;
		color: #fff;
		text-transform: uppercase;
		background-color: #3183C9;

	}
	th,td{
			padding-left: 0.5rem;
			border: 1px solid #999;
		}
	.tr-1,.tr-4{
		background: #3CA0F5;
		color:#fff;
		border: 1px solid #3CA0F5;
		
	}
}